absl-py==2.2.0
aiohttp==3.11.14
aiosignal==1.3.2
anyio
annotated-types
asyncio>=3.4.3
azure-core==1.32.0
beautifulsoup4==4.13.3
bert-score>=0.3.13
black>=25.1.0
certifi
cffi==1.17.1
charset-normalizer
click>=8.1.7
colorama ; sys_platform == 'win32'
contourpy==1.3.1
cryptography==44.0.2
datasets>=3.3.0
distro==1.9.0
et-xmlfile==2.0.0
filelock
fonttools
frozenlist
fsspec[http]
h11
huggingface-hub[inference]==0.30.1
hf-transfer>=0.1.9
idna==3.10
jinja2
jiter==0.9.0
joblib
kiwisolver
loguru>=0.7.3
lxml
markdown-it-py
markitdown[docx,pdf,pptx]>=0.0.2
markupsafe
matplotlib>=3.10.1
mypy-extensions
networkx
nltk
numpy
nvidia-cublas-cu12 ; platform_machine == 'x86_64' and sys_platform == 'linux'
nvidia-cuda-cupti-cu12 ; platform_machine == 'x86_64' and sys_platform == 'linux'
nvidia-cuda-nvrtc-cu12 ; platform_machine == 'x86_64' and sys_platform == 'linux'
nvidia-cuda-runtime-cu12 ; platform_machine == 'x86_64' and sys_platform == 'linux'
olefile==0.47
openai==1.68.0
packaging
pandas>=2.2.3
pathspec
platformdirs
pillow==11.1.0
propcache==0.3.0
pycparser
pydantic>=2.10.6
pydantic-core
pygments==2.19.1
pyjwt[crypto]>=2.10.1
pyparsing>=3.2.1
python-dateutil
pyyaml
regex
requests>=2.32.3
rich
rouge-score==0.1.2
ruff==0.11.4
safetensors==0.5.3
scikit-learn>=1.6.1
scipy
setuptools>=77.0.3
shellingham
six==1.17.0
sniffio
sounddevice
threadpoolctl
tokenizers
torch
tqdm
transformers>=4.49.0
triton==3.2.0
typer>=0.15.2
typing-extensions
tzdata
urllib3>=2.3.0
win32-setctime ; sys_platform == 'win32'
xlsxwriter
xxhash==3.5.0
yarl==1.18.3
yourbench==0.2.0
tiktoken
evaluate==0.4.3
textstat==0.7.5
magic-pdf[full]==1.3.7
modelscope